.todoform{
    background-color: "white";
    margin: auto;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}

.modernInput{
    width: 100%;
    border: none;
    display: block;
    color: black;
    font-size: 16px;
}

.modernInput:focus{
    outline: none;
}

.modernButton{
    display: inline-block;
    border: none;
    background-color: black;
    border-radius: 4px;
    padding:12px 20px;
    color: #ffffff;
    cursor: pointer;
} 

.inputContainer{
    display: flex;
}